html {
    background: url("/public/site/background.svg") no-repeat center center fixed;
    background-size: cover;
}

.scale-on-hover {
    transition: transform 0.2s !important;
}

.scale-on-hover:hover {
    transform: scale(1.1) !important;
}

body::-webkit-scrollbar {
    display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: none !important;
    -webkit-text-fill-color: #FFFFFF !important;
    caret-color: #FFFFFF !important;
}

input:-moz-ui-invalid {
    box-shadow: none;
}

input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
}
