html {
    background: url("/public/site/background.svg") no-repeat center center fixed;
    background-size: cover;
}

.scale-on-hover {
    transition: transform 0.2s !important;
}

.scale-on-hover:hover {
    transform: scale(1.1) !important;
}

body::-webkit-scrollbar {
    display: none;
}

.error-input {
    border: 1px solid red;
}